face-scrapper/face/
image-manual-classification/images/
image-manual-classification/out/
*.png
beauty-classificaion-model/dataset/
beauty-classificaion-model/test/
beauty-classificaion-model/__pycache__/
beauty-classificaion-model/models/
face-detection/images/